.form-sidebar {
  display: flex;
}

.form-label {
  flex: 1;

  align-self: center;
  text-align: left;
}

.form-input {
  width: 0px !important;
  flex: auto !important;
}

.form-button {
  width: 100%;
  height: 40px;
  background-color: #9f8f75;
  color: white;

  transition: all 0.3s;
  border: none;
}

.form-button:hover {
  background-color: #493d31;
}
