.sidebar-container {
  position: relative;
  width: 350px;
  height: calc(100vh - 150px);
  margin-right: 40px;
  transition: all 0.3s ease;
  background-color: #eaeaea;
}

.sidebar-container--closed {
  background-color: white;
  width: 0;
  transform: translateX(-100%);
}

.sidebar-container--closed .sidebar__content {
  display: none;
}
