.sidebar__content {
  flex: 1;
  width: 350px;
  height: calc(100vh - 150px);

  overflow: hidden;
  background-color: #eaeaea;
  transition: width 0.5s ease;
}

.sidebar__content--closed {
  width: 0;
}

.sidebar__button {
  position: absolute;
  top: 0;
  right: -20px;

  width: 20px;
  height: calc(100vh - 150px);

  background-color: #d2d0d0;
  transition: all 1s ease;
  cursor: pointer;
}

.sidebar__button:hover {
  background-color: #9f8f75;
}
