  {
    "extends": "plugin:m6web-tools/m6web",
    "plugins": [
      "m6web-tools"
    ],
    "parser": "babel-eslint",
    "rules": {
      "strict": 0
    },
    "env": {
      "browser": true,
      "jasmine": true
    }
  }
