body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-content {
  display: flex;
  flex-direction: row;
}

.App-content__list {
  width: 100%;
  margin-top: 20px;
  margin-right: 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icons {
  width: 15px;
  height: 15px;
}
